<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
</head>
<body>
    <header th:replace="common::headerCustomer"></header>
    <form action="create" method="post" th:object="${customer}">
        <p>First Name:</p>
        <input type="text" th:field="*{firstName}"/>
        <p>Last Name:</p>
        <input type="text" th:field="*{lastName}" />
        <br>
        <input type="submit" value="Save" />
    </form>
    <footer th:replace="common::footerCustomer"></footer>
</body>
</html>
