<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
</head>
<body>

<form action="create" method="post" th:object="${book}">
    <p>Id book:</p>
    <input type="text" th:field="*{idBook}"/>
    <p>Book Name:</p>
    <input type="text" th:field="*{bookName}" />
    <p> Quantity</p>
    <input type="text" th:field="*{quantity}">
    <p> Author</p>
    <input type="text" th:field="*{author}">
    <br>
    <input type="submit" value="Save" />
</form>

</body>
</html>
