<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<p>
    <a th:href="@{/}">
        Back to book list
    </a>
</p>
<div id="form" >
    <form action="/borrow" th:object="${book}" method="post" >
        <input type="hidden" th:field="*{idBook}"/>

        <div>
            <p>Book Name: <span th:text="${book.bookName}"></span></p><p>
        </div>
        <div>
            <p>Author: <span th:text="${book.author}"></span></p><p>
        </div>
        <div>
            <p>Quantity: <span th:text="${book.quantity}"></span></p><p>
        </div>

        <input type="submit" value="Borrow">
    </form>

</div>

</body>
</html>