<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create product</title>
</head>
<body>
    <header th:replace="common::headerProduct"></header>
    <form action="/create" method="post" th:object="${product}">
        <p>Product Id</p>
        <input type="text"th:field="*{id}">
        <p> Product Name:</p>
        <input type="text" th:field="*{productName}"/>
        <p>Price:</p>
        <input type="text" th:field="*{price}" />
        <p>Quantity</p>
        <input type="text" th:field="*{quantity}">
        <br>
        <input type="submit" value="Save" />
    </form>
    <footer th:replace="common::footerProduct"></footer>
</body>
</html>
