<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<a th:href="@{/}" style="color: blue">Back home</a>
<div style="position: relative;left: 500px">

<form action="/create" method="post" th:object="${blog}">
    <p>Blog id:</p>
    <input type="text" th:field="*{id}"/>
    <p>Blog name:</p>
    <input type="text" th:field="*{blogName}" />
    <p>Blog content</p>
    <textarea th:field="*{blogContent}" th:width="400px"></textarea>
    <input type="hidden" th:value="${blog.timeDate}">
    <br>
    <select th:field="*{category}">
        <option th:each="category : ${categoryList}" th:value="${category.idCategory}" th:text="${category.categoryName}"></option>
    </select>
    <input type="submit" value="Save" />
</form>
</div>
<footer th:replace="~{common::footerBlog}"></footer>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>